/* Resetear márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', sans-serif;
    background-color: #333; /* Color de fondo oscuro */
    color: #ddd;
    transition: background-color 0.3s, color 0.3s; /* Transición para el cambio de modo */
}

/* Botón para cambiar a modo oscuro */
#boton-modo {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#boton-modo:hover {
    background-color: #333;
}

/* Menú de Navegación */
.navbar {
    background-color: #3b3b3b; /* Color oscuro */
    padding: 15px;
    text-align: center;
    border-bottom: 5px solid #60492c;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar a {
    color: #55cc44;
    text-decoration: none;
    font-size: 1.2em;
    border: 2px solid transparent;
    padding: 5px;
    transition: border 0.3s, color 0.3s;
}

.navbar a:hover {
    border: 2px solid #55cc44;
    color: #fff;
}

/* Portada */
.portada {
    background-image: url('textures/grass_block.png'); /* Textura de bloque de pasto */
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    border-bottom: 5px solid #60492c;
}

.portada h1 {
    font-size: 2.5em;
    color: #55cc44;
    text-shadow: 3px 3px 0 #000;
}

.portada p {
    font-size: 1.2em;
    color: #d3d3d3;
}

/* Galería de Addons */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.tarjeta {
    background: #444;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

.tarjeta h3 {
    color: #55cc44;
}

/* Registro */
.registro {
    position: relative;
    padding: 20px;
}

.usuario {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#perfil-icono {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid #555;
    margin-right: 10px;
}

/* Comentarios */
.comentarios {
    padding: 20px;
}

.comentario {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.comentario img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
